<div class="ekit-template-content-markup ekit-template-content-footer ekit-template-content-theme-support">
    <div data-elementor-type="wp-post" data-elementor-id="395" class="elementor elementor-395">
      <section
        class="elementor-section elementor-top-section elementor-element elementor-element-dc53eb3 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
        data-id="dc53eb3" data-element_type="section"
        data-settings='{"background_background":"classic","ekit_has_onepagescroll_dot":"yes"}'>
        <div class="elementor-background-overlay"></div>
        <div class="elementor-container elementor-column-gap-no">
          <div
            class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-cfd833f"
            data-id="cfd833f" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
              <section
                class="elementor-section elementor-inner-section elementor-element elementor-element-67a021e elementor-section-content-middle footer-call_toaction elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                data-id="67a021e" data-element_type="section" data-settings='{"ekit_has_onepagescroll_dot":"yes"}'>
                <div class="elementor-container elementor-column-gap-default">
                  <div
                    class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4fbd494"
                    data-id="4fbd494" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                      <div class="elementor-element elementor-element-46f6bd6 elementor-widget elementor-widget-image"
                        data-id="46f6bd6" data-element_type="widget" data-settings='{"ekit_we_effect_on":"none"}'
                        data-widget_type="image.default">
                        <div class="elementor-widget-container">
                          <img width="177" height="59" src="../wp-content/uploads/2019/06/log.jpg"
                            class="attachment-large size-large wp-image-412" alt=""  />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-fad653a"
                    data-id="fad653a" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                      <div
                        class="elementor-element elementor-element-eea89f1 elementor-hidden-tablet elementor-hidden-phone elementor-widget__width-auto elementor-widget elementor-widget-elementskit-heading"
                        data-id="eea89f1" data-element_type="widget" data-settings='{"ekit_we_effect_on":"none"}'
                        data-widget_type="elementskit-heading.default">
                        <div class="elementor-widget-container">
                          <div class="ekit-wid-con">
                            <div
                              class="ekit-heading elementskit-section-title-wraper text_left ekit_heading_tablet- ekit_heading_mobile-">
                              <h2 class="ekit-heading--title elementskit-section-title">
                                WORK WITH THE TEAM
                              </h2>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-5e5c1c7 elementor-hidden-tablet elementor-hidden-phone elementor-widget__width-auto elementor-widget elementor-widget-elementskit-button"
                        data-id="5e5c1c7" data-element_type="widget" data-settings='{"ekit_we_effect_on":"none"}'
                        data-widget_type="elementskit-button.default">
                        <div class="elementor-widget-container">
                          <div class="ekit-wid-con">
                            <div class="ekit-btn-wraper">
                              <a href="https://wa.me/2349150616283" class="elementskit-btn whitespace--normal" id="">
                                Work with us
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <section
                class="elementor-section elementor-inner-section elementor-element elementor-element-f57ae9c elementor-section-content-top elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                data-id="f57ae9c" data-element_type="section" data-settings='{"ekit_has_onepagescroll_dot":"yes"}'>
                <div class="elementor-container elementor-column-gap-default">
                  <div
                    class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-b15afab animated-slow elementor-invisible"
                    data-id="b15afab" data-element_type="column" data-settings='{"animation":"fadeInUp"}'>
                    <div class="elementor-widget-wrap elementor-element-populated">
                      <div
                        class="elementor-element elementor-element-3c6330f elementor-widget elementor-widget-elementskit-heading"
                        data-id="3c6330f" data-element_type="widget" data-settings='{"ekit_we_effect_on":"none"}'
                        data-widget_type="elementskit-heading.default">
                        <div class="elementor-widget-container">
                          <div class="ekit-wid-con">
                            <div
                              class="ekit-heading elementskit-section-title-wraper text_left ekit_heading_tablet- ekit_heading_mobile-">
                              <h2 class="ekit-heading--title elementskit-section-title">
                                About Company
                              </h2>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-256c5b5 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                        data-id="256c5b5" data-element_type="widget" data-settings='{"ekit_we_effect_on":"none"}'
                        data-widget_type="icon-list.default">
                        <div class="elementor-widget-container">
                          <ul class="elementor-icon-list-items">
                            <li class="elementor-icon-list-item">
                              <span class="elementor-icon-list-icon">
                                <i class="fa-solid fa-location-dot"></i>
                              </span>
                              <span class="elementor-icon-list-text">Block 4C Akpasak Estate Uyo</span>
                            </li>
                            <li class="elementor-icon-list-item">
                              <a href="tel:3057208500">
                                <span class="elementor-icon-list-icon">
                                  <i class="fa-solid fa-phone"></i>
                                </span>
                                <span class="elementor-icon-list-text">+234(0) 8116-1842-99 </span>
                              </a>
                            </li>
                            <li class="elementor-icon-list-item">
                              <a href="info@smeninternational.com">
                                <span class="elementor-icon-list-icon">
                                  <i class="fa-solid fa-envelope"></i>
                                </span>
                                <span class="elementor-icon-list-text">
                                  <span class="__cf_email__">info@smeninternational.com</span></span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-fd4a31c elementor-invisible"
                    data-id="fd4a31c" data-element_type="column"
                    data-settings='{"animation":"fadeInUp","animation_delay":200}'>
                    <div class="elementor-widget-wrap elementor-element-populated">
                      <div
                        class="elementor-element elementor-element-a0412cf elementor-widget elementor-widget-elementskit-heading"
                        data-id="a0412cf" data-element_type="widget" data-settings='{"ekit_we_effect_on":"none"}'
                        data-widget_type="elementskit-heading.default">
                        <div class="elementor-widget-container">
                          <div class="ekit-wid-con">
                            <div
                              class="ekit-heading elementskit-section-title-wraper text_left ekit_heading_tablet- ekit_heading_mobile-">
                              <h2 class="ekit-heading--title elementskit-section-title">
                                Useful Links
                              </h2>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-b036cfd elementor-align-left blo-list-icon-center elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                        data-id="b036cfd" data-element_type="widget" data-settings='{"ekit_we_effect_on":"none"}'
                        data-widget_type="icon-list.default">
                        <div class="elementor-widget-container">
                          <ul class="elementor-icon-list-items">
                            <li class="elementor-icon-list-item">
                              <a href="#">
                                <span class="elementor-icon-list-icon">
                                  <i aria-hidden="true" class="fas fa-circle"></i>
                                </span>
                                <span class="elementor-icon-list-text">
                                  About Company</span>
                              </a>
                            </li>
                            <li class="elementor-icon-list-item">
                              <a href="#">
                                <span class="elementor-icon-list-icon">
                                  <i aria-hidden="true" class="fas fa-circle"></i>
                                </span>
                                <span class="elementor-icon-list-text">Our People</span>
                              </a>
                            </li>
                            <li class="elementor-icon-list-item">
                              <a href="#">
                                <span class="elementor-icon-list-icon">
                                  <i aria-hidden="true" class="fas fa-circle"></i>
                                </span>
                                <span class="elementor-icon-list-text">Latest Media</span>
                              </a>
                            </li>
                            <li class="elementor-icon-list-item">
                              <a href="#">
                                <span class="elementor-icon-list-icon">
                                  <i aria-hidden="true" class="fas fa-circle"></i>
                                </span>
                                <span class="elementor-icon-list-text">Our Branches</span>
                              </a>
                            </li>

                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-fb6354b elementor-invisible"
                    data-id="fb6354b" data-element_type="column"
                    data-settings='{"animation":"fadeInUp","animation_delay":400}'>
                    <div class="elementor-widget-wrap elementor-element-populated">
                      <div
                        class="elementor-element elementor-element-5ff8abb elementor-widget elementor-widget-elementskit-heading"
                        data-id="5ff8abb" data-element_type="widget" data-settings='{"ekit_we_effect_on":"none"}'
                        data-widget_type="elementskit-heading.default">
                        <div class="elementor-widget-container">
                          <div class="ekit-wid-con">
                            <div
                              class="ekit-heading elementskit-section-title-wraper text_left ekit_heading_tablet- ekit_heading_mobile-">
                              <h2 class="ekit-heading--title elementskit-section-title">
                                Subscribe Newsletter
                              </h2>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-5a11bf7 elementor-widget elementor-widget-elementskit-mail-chimp"
                        data-id="5a11bf7" data-element_type="widget" data-settings='{"ekit_we_effect_on":"none"}'
                        data-widget_type="elementskit-mail-chimp.default">
                        <div class="elementor-widget-container">
                          <div class="ekit-wid-con">
                            <div class="ekit-mail-chimp">
                              <form method="post" class="ekit-mailChimpForm" data-listed=""
                                data-success-message="Successfully listed this email" data-success-opt-in-message="">
                                <div class="ekit-mail-message"></div>
                                <input type="hidden" name="double_opt_in" value="no" />

                                <div class="elementskit_form_wraper elementskit_inline_form">
                                  <div
                                    class="ekit-mail-chimp-email elementskit_input_wraper elementskit_input_container">
                                    <div class="elementskit_form_group">
                                      <div class="elementskit_input_element_container">
                                        <input type="email" aria-label="email" name="email"
                                          class="ekit_mail_email ekit_form_control" placeholder="Enter your email..."
                                          required />
                                      </div>
                                    </div>
                                  </div>
                                  <div class="ekit_submit_input_holder elementskit_input_wraper">
                                    <button type="submit" aria-label="submit" class="ekit-mail-submit"
                                      name="ekit_mail_chimp">
                                      <i aria-hidden="true" class="far fa-paper-plane"></i>
                                    </button>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-abae5a4 elementor-widget elementor-widget-text-editor"
                        data-id="abae5a4" data-element_type="widget" data-settings='{"ekit_we_effect_on":"none"}'
                        data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                          <p>
                            Sign up for our latest news &amp; articles. We
                            won’t give you spam mails.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </section>
      <section
        class="elementor-section elementor-top-section elementor-element elementor-element-2dd35b7 elementor-section-content-middle elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle"
        data-id="2dd35b7" data-element_type="section"
        data-settings='{"background_background":"classic","ekit_has_onepagescroll_dot":"yes"}'>
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-cb3a5ac"
            data-id="cb3a5ac" data-element_type="column" data-settings='{"animation":"none"}'>
            <div class="elementor-widget-wrap elementor-element-populated">
              <div
                class="elementor-element elementor-element-5aae7d1 elementor-invisible elementor-widget elementor-widget-heading"
                data-id="5aae7d1" data-element_type="widget"
                data-settings='{"_animation":"fadeInUp","_animation_delay":100,"ekit_we_effect_on":"none"}'
                data-widget_type="heading.default">
                <div class="elementor-widget-container">
                  <h2 class="elementor-heading-title elementor-size-default">
                    © 2021,
                    <a href="#" style="color: #fff; text-decoration: underline">SMEN INTERNATIONAL</a>. All
                    Rights Reserved.
                  </h2>
                </div>
              </div>
            </div>
          </div>
          <div
            class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-5db41b8"
            data-id="5db41b8" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
              <div
                class="elementor-element elementor-element-a99ac19 elementor-icon-list--layout-inline elementor-align-right elementor-tablet-align-center elementor-list-item-link-full_width elementor-invisible elementor-widget elementor-widget-icon-list"
                data-id="a99ac19" data-element_type="widget"
                data-settings='{"_animation":"fadeInUp","_animation_delay":100,"ekit_we_effect_on":"none"}'
                data-widget_type="icon-list.default">
                <div class="elementor-widget-container">
                  <ul class="elementor-icon-list-items elementor-inline-items">
                    <li class="elementor-icon-list-item elementor-inline-item">
                      <a href="#" target="_blank">
                        <span class="elementor-icon-list-text">facebook</span>
                      </a>
                    </li>
                    <li class="elementor-icon-list-item elementor-inline-item">
                      <a href="#" target="_blank">
                        <span class="elementor-icon-list-text">twitter</span>
                      </a>
                    </li>
                    <li class="elementor-icon-list-item elementor-inline-item">
                      <a href="#" target="_blank">
                        <span class="elementor-icon-list-text">instragram</span>
                      </a>
                    </li>
                    <li class="elementor-icon-list-item elementor-inline-item">
                      <a href="https://wa.me/2349150616283" target="_blank">
                        <span class="elementor-icon-list-text">whatsapp</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
  <script>
    window.RS_MODULES = window.RS_MODULES || {};
    window.RS_MODULES.modules = window.RS_MODULES.modules || {};
    window.RS_MODULES.waiting = window.RS_MODULES.waiting || [];
    window.RS_MODULES.defered = false;
    window.RS_MODULES.moduleWaiting = window.RS_MODULES.moduleWaiting || {};
    window.RS_MODULES.type = "compiled";
  </script>
  <script type="text/javascript">
    const lazyloadRunObserver = () => {
      const lazyloadBackgrounds = document.querySelectorAll(
        `.e-con.e-parent:not(.e-lazyloaded)`
      );
      const lazyloadBackgroundObserver = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              let lazyloadBackground = entry.target;
              if (lazyloadBackground) {
                lazyloadBackground.classList.add("e-lazyloaded");
              }
              lazyloadBackgroundObserver.unobserve(entry.target);
            }
          });
        },
        { rootMargin: "200px 0px 200px 0px" }
      );
      lazyloadBackgrounds.forEach((lazyloadBackground) => {
        lazyloadBackgroundObserver.observe(lazyloadBackground);
      });
    };
    const events = ["DOMContentLoaded", "elementor/lazyload/observe"];
    events.forEach((event) => {
      document.addEventListener(event, lazyloadRunObserver);
    });
  </script>
  <link href="http://fonts.googleapis.com/css?family=Poppins:800%7CRubik:400%2C500%7CRoboto:400&amp;display=swap"
    rel="stylesheet" property="stylesheet" media="all" type="text/css" />

  <script type="text/javascript">
    (function () {
      var c = document.body.className;
      c = c.replace(/woocommerce-no-js/, "woocommerce-js");
      document.body.className = c;
    })();
  </script>
  <script>
    if (typeof revslider_showDoubleJqueryError === "undefined") {
      function revslider_showDoubleJqueryError(sliderID) {
        console.log(
          "You have some jquery.js library include that comes after the Slider Revolution files js inclusion."
        );
        console.log("To fix this, you can:");
        console.log(
          "1. Set 'Module General Options' -> 'Advanced' -> 'jQuery & OutPut Filters' -> 'Put JS to Body' to on"
        );
        console.log("2. Find the double jQuery.js inclusion and remove it");
        return "Double Included jQuery Library";
      }
    }
  </script>
  <link rel="stylesheet" id="wc-blocks-style-css"
    href="../wp-content/plugins/woocommerce/assets/client/blocks/wc-blockse2cc.css?ver=wc-9.3.3" type="text/css"
    media="all" />
  <link rel="stylesheet" id="widget-icon-list-css"
    href="../wp-content/plugins/elementor/assets/css/widget-icon-list.min52dd.css?ver=3.24.7" type="text/css"
    media="all" />
  <link rel="stylesheet" id="widget-image-css"
    href="../wp-content/plugins/elementor/assets/css/widget-image.min52dd.css?ver=3.24.7" type="text/css" media="all" />
  <link rel="stylesheet" id="elementor-post-2041-css"
    href="../wp-content/uploads/elementor/css/post-2041b8db.css?ver=1729489930" type="text/css" media="all" />
  <link rel="stylesheet" id="widget-image-box-css"
    href="../wp-content/plugins/elementor/assets/css/widget-image-box.min52dd.css?ver=3.24.7" type="text/css"
    media="all" />
  <link rel="stylesheet" id="elementor-post-4451-css"
    href="../wp-content/uploads/elementor/css/post-4451b8db.css?ver=1729489930" type="text/css" media="all" />
  <link rel="stylesheet" id="elementor-post-1623-css"
    href="../wp-content/uploads/elementor/css/post-1623bf5e.css?ver=1729490770" type="text/css" media="all" />
  <link rel="stylesheet" id="widget-heading-css"
    href="../wp-content/plugins/elementor/assets/css/widget-heading.min52dd.css?ver=3.24.7" type="text/css"
    media="all" />
  <link rel="stylesheet" id="ekit-particles-css"
    href="../wp-content/plugins/elementskit/modules/particles/assets/css/particlesf43b.css?ver=3.7.1" type="text/css"
    media="all" />
  <link rel="stylesheet" id="rs-plugin-settings-css"
    href="../wp-content/plugins/revslider/sr6/assets/css/rs6d186.css?ver=6.7.17" type="text/css" media="all" />

  <script type="text/javascript"
    src="../wp-content/plugins/metform/public/assets/lib/cute-alert/cute-alert9086.js?ver=3.9.0"
    id="cute-alert-js"></script>
  <script type="text/javascript"
    src="../wp-content/plugins/elementskit-lite/libs/framework/assets/js/frontend-script9b70.js?ver=3.3.0"
    id="elementskit-framework-js-frontend-js"></script>
  <script type="text/javascript" id="elementskit-framework-js-frontend-js-after"></script>
  <script type="text/javascript"
    src="../wp-content/plugins/elementskit-lite/widgets/init/assets/js/widget-scripts9b70.js?ver=3.3.0"
    id="ekit-widget-scripts-js"></script>
  <script type="text/javascript"
    src="../wp-content/plugins/elementskit/modules/parallax/assets/js/animef43b.js?ver=3.7.1" id="animejs-js"></script>
  <script defer type="text/javascript"
    src="../wp-content/plugins/elementskit/modules/parallax/assets/js/parallax-frontendf43b.js?ver=3.7.1"
    id="elementskit-parallax-frontend-defer-js"></script>
  <script type="text/javascript"
    src="../wp-content/plugins/woocommerce/assets/js/sourcebuster/sourcebuster.minc60b.js?ver=9.3.3"
    id="sourcebuster-js-js"></script>
  <script type="text/javascript" id="wc-order-attribution-js-extra">
    /* <![CDATA[ */
    var wc_order_attribution = {
      params: {
        lifetime: 1.0000000000000000818030539140313095458623138256371021270751953125e-5,
        session: 30,
        base64: false,
        ajaxurl:
          "https:\/\/demo.xpeedstudio.com\/blo\/wp-admin\/admin-ajax.php",
        prefix: "wc_order_attribution_",
        allowTracking: true,
      },
      fields: {
        source_type: "current.typ",
        referrer: "current_add.rf",
        utm_campaign: "current.cmp",
        utm_source: "current.src",
        utm_medium: "current.mdm",
        utm_content: "current.cnt",
        utm_id: "current.id",
        utm_term: "current.trm",
        utm_source_platform: "current.plt",
        utm_creative_format: "current.fmt",
        utm_marketing_tactic: "current.tct",
        session_entry: "current_add.ep",
        session_start_time: "current_add.fd",
        session_pages: "session.pgs",
        session_count: "udata.vst",
        user_agent: "udata.uag",
      },
    };

  </script>
  <script type="text/javascript"
    src="../wp-content/plugins/woocommerce/assets/js/frontend/order-attribution.minc60b.js?ver=9.3.3"
    id="wc-order-attribution-js"></script>
  <script type="text/javascript" src="../wp-content/themes/blo-development/assets/js/bootstrap.mind7b7.js?ver=4.3"
    id="bootstrap-js"></script>
  <script type="text/javascript" src="../wp-content/themes/blo-development/assets/js/Popperd7b7.js?ver=4.3"
    id="popper-js"></script>
  <script type="text/javascript" src="../wp-content/themes/blo-development/assets/js/swiper.mind7b7.js?ver=4.3"
    id="swiper-js"></script>
  <script type="text/javascript" src="../wp-content/themes/blo-development/assets/js/fontfaced7b7.js?ver=4.3"
    id="fontface-js"></script>
  <script type="text/javascript"
    src="../wp-content/themes/blo-development/assets/js/jquery.overlayScrollbars.mind7b7.js?ver=4.3"
    id="blo-overlayScrollbars-js"></script>
  <script type="text/javascript" id="blo-script-js-before">
    /* <![CDATA[ */
    var fontList = ["Rubik", "Merriweather", "Poppins", "Poppins"];
    /* ]]> */
  </script>
  <script type="text/javascript" src="../wp-content/themes/blo-development/assets/js/scriptd7b7.js?ver=4.3"
    id="blo-script-js"></script>
  <script type="text/javascript" id="mediaelement-core-js-before">
    /* <![CDATA[ */
    var mejsL10n = {
      language: "en",
      strings: {
        "mejs.download-file": "Download File",
        "mejs.install-flash":
          "You are using a browser that does not have Flash player enabled or installed. Please turn on your Flash player plugin or download the latest version from https:\/\/get.adobe.com\/flashplayer\/",
        "mejs.fullscreen": "Fullscreen",
        "mejs.play": "Play",
        "mejs.pause": "Pause",
        "mejs.time-slider": "Time Slider",
        "mejs.time-help-text":
          "Use Left\/Right Arrow keys to advance one second, Up\/Down arrows to advance ten seconds.",
        "mejs.live-broadcast": "Live Broadcast",
        "mejs.volume-help-text":
          "Use Up\/Down Arrow keys to increase or decrease volume.",
        "mejs.unmute": "Unmute",
        "mejs.mute": "Mute",
        "mejs.volume-slider": "Volume Slider",
        "mejs.video-player": "Video Player",
        "mejs.audio-player": "Audio Player",
        "mejs.captions-subtitles": "Captions\/Subtitles",
        "mejs.captions-chapters": "Chapters",
        "mejs.none": "None",
        "mejs.afrikaans": "Afrikaans",
        "mejs.albanian": "Albanian",
        "mejs.arabic": "Arabic",
        "mejs.belarusian": "Belarusian",
        "mejs.bulgarian": "Bulgarian",
        "mejs.catalan": "Catalan",
        "mejs.chinese": "Chinese",
        "mejs.chinese-simplified": "Chinese (Simplified)",
        "mejs.chinese-traditional": "Chinese (Traditional)",
        "mejs.croatian": "Croatian",
        "mejs.czech": "Czech",
        "mejs.danish": "Danish",
        "mejs.dutch": "Dutch",
        "mejs.english": "English",
        "mejs.estonian": "Estonian",
        "mejs.filipino": "Filipino",
        "mejs.finnish": "Finnish",
        "mejs.french": "French",
        "mejs.galician": "Galician",
        "mejs.german": "German",
        "mejs.greek": "Greek",
        "mejs.haitian-creole": "Haitian Creole",
        "mejs.hebrew": "Hebrew",
        "mejs.hindi": "Hindi",
        "mejs.hungarian": "Hungarian",
        "mejs.icelandic": "Icelandic",
        "mejs.indonesian": "Indonesian",
        "mejs.irish": "Irish",
        "mejs.italian": "Italian",
        "mejs.japanese": "Japanese",
        "mejs.korean": "Korean",
        "mejs.latvian": "Latvian",
        "mejs.lithuanian": "Lithuanian",
        "mejs.macedonian": "Macedonian",
        "mejs.malay": "Malay",
        "mejs.maltese": "Maltese",
        "mejs.norwegian": "Norwegian",
        "mejs.persian": "Persian",
        "mejs.polish": "Polish",
        "mejs.portuguese": "Portuguese",
        "mejs.romanian": "Romanian",
        "mejs.russian": "Russian",
        "mejs.serbian": "Serbian",
        "mejs.slovak": "Slovak",
        "mejs.slovenian": "Slovenian",
        "mejs.spanish": "Spanish",
        "mejs.swahili": "Swahili",
        "mejs.swedish": "Swedish",
        "mejs.tagalog": "Tagalog",
        "mejs.thai": "Thai",
        "mejs.turkish": "Turkish",
        "mejs.ukrainian": "Ukrainian",
        "mejs.vietnamese": "Vietnamese",
        "mejs.welsh": "Welsh",
        "mejs.yiddish": "Yiddish",
      },
    };
    /* ]]> */
  </script>
  <script type="text/javascript" src="../wp-includes/js/mediaelement/mediaelement-and-player.min1f61.js?ver=4.2.17"
    id="mediaelement-core-js"></script>
  <script type="text/javascript" src="../wp-includes/js/mediaelement/mediaelement-migrate.min109c.js?ver=6.6.2"
    id="mediaelement-migrate-js"></script>
  <script type="text/javascript" id="mediaelement-js-extra">
    /* <![CDATA[ */
    var _wpmejsSettings = {
      pluginPath: "\/blo\/wp-includes\/js\/mediaelement\/",
      classPrefix: "mejs-",
      stretching: "responsive",
      audioShortcodeLibrary: "mediaelement",
      videoShortcodeLibrary: "mediaelement",
    };
    /* ]]> */
  </script>
  <script type="text/javascript" src="../wp-includes/js/mediaelement/wp-mediaelement.min109c.js?ver=6.6.2"
    id="wp-mediaelement-js"></script>
  <script type="text/javascript"
    src="../wp-content/plugins/elementskit-lite/widgets/init/assets/js/odometer.min9b70.js?ver=3.3.0"
    id="odometer-js"></script>
  <script type="text/javascript" src="../wp-content/plugins/elementskit/widgets/chart/assets/js/chart109c.js?ver=6.6.2"
    id="chart-kit-js-js"></script>
  <script type="text/javascript" src="../wp-content/plugins/elementor/assets/js/webpack.runtime.min52dd.js?ver=3.24.7"
    id="elementor-webpack-runtime-js"></script>
  <script type="text/javascript" src="../wp-content/plugins/elementor/assets/js/frontend-modules.min52dd.js?ver=3.24.7"
    id="elementor-frontend-modules-js"></script>
  <script type="text/javascript" src="../wp-includes/js/jquery/ui/core.minb37e.js?ver=1.13.3"
    id="jquery-ui-core-js"></script>
  <script type="text/javascript" id="elementor-frontend-js-before">
    /* <![CDATA[ */
    var elementorFrontendConfig = {
      environmentMode: {
        edit: false,
        wpPreview: false,
        isScriptDebug: false,
      },
      i18n: {
        shareOnFacebook: "Share on Facebook",
        shareOnTwitter: "Share on Twitter",
        pinIt: "Pin it",
        download: "Download",
        downloadImage: "Download image",
        fullscreen: "Fullscreen",
        zoom: "Zoom",
        share: "Share",
        playVideo: "Play Video",
        previous: "Previous",
        next: "Next",
        close: "Close",
        a11yCarouselWrapperAriaLabel:
          "Carousel | Horizontal scrolling: Arrow Left & Right",
        a11yCarouselPrevSlideMessage: "Previous slide",
        a11yCarouselNextSlideMessage: "Next slide",
        a11yCarouselFirstSlideMessage: "This is the first slide",
        a11yCarouselLastSlideMessage: "This is the last slide",
        a11yCarouselPaginationBulletMessage: "Go to slide",
      },
      is_rtl: false,
      breakpoints: { xs: 0, sm: 480, md: 768, lg: 1025, xl: 1440, xxl: 1600 },
      responsive: {
        breakpoints: {
          mobile: {
            label: "Mobile Portrait",
            value: 767,
            default_value: 767,
            direction: "max",
            is_enabled: true,
          },
          mobile_extra: {
            label: "Mobile Landscape",
            value: 880,
            default_value: 880,
            direction: "max",
            is_enabled: false,
          },
          tablet: {
            label: "Tablet Portrait",
            value: 1024,
            default_value: 1024,
            direction: "max",
            is_enabled: true,
          },
          tablet_extra: {
            label: "Tablet Landscape",
            value: 1200,
            default_value: 1200,
            direction: "max",
            is_enabled: false,
          },
          laptop: {
            label: "Laptop",
            value: 1366,
            default_value: 1366,
            direction: "max",
            is_enabled: false,
          },
          widescreen: {
            label: "Widescreen",
            value: 2400,
            default_value: 2400,
            direction: "min",
            is_enabled: false,
          },
        },
        hasCustomBreakpoints: false,
      },
      version: "3.24.7",
      is_static: false,
      experimentalFeatures: {
        additional_custom_breakpoints: true,
        container_grid: true,
        e_swiper_latest: true,
        e_nested_atomic_repeaters: true,
        e_onboarding: true,
        home_screen: true,
        "ai-layout": true,
        "landing-pages": true,
        "link-in-bio": true,
        "floating-buttons": true,
      },
      urls: {
        assets:
          "https:\/\/demo.xpeedstudio.com\/blo\/wp-content\/plugins\/elementor\/assets\/",
        ajaxurl:
          "https:\/\/demo.xpeedstudio.com\/blo\/wp-admin\/admin-ajax.php",
        uploadUrl: "https:\/\/demo.xpeedstudio.com\/blo\/wp-content\/uploads",
      },
      nonces: { floatingButtonsClickTracking: "ee18ee55d8" },
      swiperClass: "swiper",
      settings: { page: [], editorPreferences: [] },
      kit: {
        global_image_lightbox: "yes",
        active_breakpoints: ["viewport_mobile", "viewport_tablet"],
        lightbox_enable_counter: "yes",
        lightbox_enable_fullscreen: "yes",
        lightbox_enable_zoom: "yes",
        lightbox_enable_share: "yes",
        lightbox_title_src: "title",
        lightbox_description_src: "description",
      },
      post: {
        id: 612,
        title: "Home%20Two%20%E2%80%93%20Blo",
        excerpt: "",
        featuredImage: false,
      },
    };
    /* ]]> */
  </script>
  <script type="text/javascript" src="../wp-content/plugins/elementor/assets/js/frontend.min52dd.js?ver=3.24.7"
    id="elementor-frontend-js"></script>
  <script type="text/javascript"
    src="../wp-content/plugins/elementskit-lite/widgets/init/assets/js/animate-circle.min9b70.js?ver=3.3.0"
    id="animate-circle-js"></script>
  <script type="text/javascript" id="elementskit-elementor-js-extra">
    /* <![CDATA[ */
    var ekit_config = {
      ajaxurl:
        "https:\/\/demo.xpeedstudio.com\/blo\/wp-admin\/admin-ajax.php",
      nonce: "8d078a4742",
    };
    /* ]]> */
  </script>
  <script type="text/javascript"
    src="../wp-content/plugins/elementskit-lite/widgets/init/assets/js/elementor9b70.js?ver=3.3.0"
    id="elementskit-elementor-js"></script>
  <script type="text/javascript"
    src="../wp-content/plugins/elementskit/widgets/init/assets/js/elementorf43b.js?ver=3.7.1"
    id="elementskit-elementor-pro-js"></script>
  <script type="text/javascript" src="../wp-content/themes/blo-development/assets/js/elementord7b7.js?ver=4.3"
    id="blo-main-elementor-js"></script>
  <script defer type="text/javascript"
    src="../wp-content/plugins/elementskit/modules/sticky-content/assets/js/elementskit-sticky-contentf43b.js?ver=3.7.1"
    id="elementskit-sticky-content-script-init-defer-js"></script>
  <script type="text/javascript"
    src="../wp-content/plugins/elementskit/modules/particles/assets/js/particles.minf43b.js?ver=3.7.1"
    id="particles-js"></script>
  <script type="text/javascript"
    src="../wp-content/plugins/elementskit/modules/particles/assets/js/ekit-particlesf43b.js?ver=3.7.1"
    id="ekit-particles-js"></script>
  <script defer type="text/javascript"
    src="../wp-content/plugins/elementskit/modules/parallax/assets/js/parallax-adminf43b.js?ver=3.7.1"
    id="elementskit-parallax-admin-defer-js"></script>
  <script type="text/javascript"
    src="../wp-content/plugins/elementskit/modules/wrapper-link/assets/js/wrapperf43b.js?ver=3.7.1"
    id="elementskit-wrapper-js"></script>
  <script type="text/javascript"
    src="../wp-content/plugins/elementskit/modules/mouse-cursor/assets/js/cotton.minf43b.js?ver=3.7.1"
    id="cotton-js"></script>
  <script type="text/javascript"
    src="../wp-content/plugins/elementskit/modules/mouse-cursor/assets/js/mouse-cursor-scriptsf43b.js?ver=3.7.1"
    id="mouse-cursor-js"></script>
  <script id="rs-initialisation-scripts">
    var tpj = jQuery;

    var revapi9;

    if (window.RS_MODULES === undefined) window.RS_MODULES = {};
    if (RS_MODULES.modules === undefined) RS_MODULES.modules = {};
    RS_MODULES.modules["revslider91"] = {
      once:
        RS_MODULES.modules["revslider91"] !== undefined
          ? RS_MODULES.modules["revslider91"].once
          : undefined,
      init: function () {
        window.revapi9 =
          window.revapi9 === undefined ||
            window.revapi9 === null ||
            window.revapi9.length === 0
            ? document.getElementById("rev_slider_9_1")
            : window.revapi9;
        if (
          window.revapi9 === null ||
          window.revapi9 === undefined ||
          window.revapi9.length == 0
        ) {
          window.revapi9initTry =
            window.revapi9initTry === undefined
              ? 0
              : window.revapi9initTry + 1;
          if (window.revapi9initTry < 20)
            requestAnimationFrame(function () {
              RS_MODULES.modules["revslider91"].init();
            });
          return;
        }
        window.revapi9 = jQuery(window.revapi9);
        if (window.revapi9.revolution == undefined) {
          revslider_showDoubleJqueryError("rev_slider_9_1");
          return;
        }
        revapi9.revolutionInit({
          revapi: "revapi9",
          visibilityLevels: "1240,1024,768,480",
          gridwidth: "1240,1024,778,480",
          gridheight: "800,768,760,500",
          lazyType: "smart",
          spinner: "spinner0",
          perspective: 600,
          perspectiveType: "local",
          editorheight: "800,768,760,500",
          responsiveLevels: "1240,1024,768,480",
          progressBar: { disableProgressBar: true },
          navigation: {
            mouseScrollNavigation: false,
            wheelCallDelay: 1000,
            onHoverStop: false,
            bullets: {
              enable: true,
              tmp: "",
              style: "hesperiden",
              h_align: "right",
              v_align: "center",
              h_offset: 40,
              direction: "vertical",
              space: 10,
            },
          },
          viewPort: {
            global: true,
            globalDist: "-200px",
            enable: false,
            visible_area: "20%",
          },
          fallbacks: {
            allowHTML5AutoPlayOnAndroid: true,
          },
        });
      },
    }; // End of RevInitScript

    if (window.RS_MODULES.checkMinimal !== undefined) {
      window.RS_MODULES.checkMinimal();
    }
  </script>

  <script>
    const slider = document.getElementById("slider");
    const prevButton = document.getElementById("prev");
    const nextButton = document.getElementById("next");
    let currentIndex = 0;

    function showSlide(index) {
      const slides = slider.children;
      const totalSlides = slides.length;
      if (index >= totalSlides) {
        currentIndex = 0;
      } else if (index < 0) {
        currentIndex = totalSlides - 1;
      } else {
        currentIndex = index;
      }
      for (let i = 0; i < totalSlides; i++) {
        slides[i].style.display = i === currentIndex ? "flex" : "none";
      }
    }

    prevButton.addEventListener("click", () => {
      showSlide(currentIndex - 1);
    });

    nextButton.addEventListener("click", () => {
      showSlide(currentIndex + 1);
    });

    setInterval(() => {
      showSlide(currentIndex + 1);
    }, 5000);

    showSlide(currentIndex);

    AOS.init({ duration: 1000, }) // Set animation duration to 1000ms (1 second)});

  </script>
</body>

</html>