<div class="ekit-template-content-markup ekit-template-content-header ekit-template-content-theme-support"
style="overflow: hidden">
<div data-elementor-type="wp-post" data-elementor-id="2106" class="elementor elementor-2106">
  <section
    class="elementor-section elementor-top-section elementor-element elementor-element-4ed1af2 elementor-section-height-min-height elementor-hidden-phone elementor-section-boxed elementor-section-height-default elementor-section-items-middle"
    data-id="4ed1af2" data-element_type="section"
    data-settings='{"background_background":"classic","ekit_has_onepagescroll_dot":"yes"}'>
    <div class="elementor-container elementor-column-gap-no">
      <div
        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-dd66600"
        data-id="dd66600" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
          <section
            class="elementor-section elementor-inner-section elementor-element elementor-element-73fa09c elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="73fa09c" data-element_type="section" data-settings='{"ekit_has_onepagescroll_dot":"yes"}'>
            <div class="elementor-container elementor-column-gap-default">
              <div
                class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-8affb44"
                data-id="8affb44" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-c1b7f87 elementor-icon-list--layout-inline elementor-tablet-align-left elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                    data-id="c1b7f87" data-element_type="widget" data-settings='{"ekit_we_effect_on":"none"}'
                    data-widget_type="icon-list.default">
                    <div class="elementor-widget-container">
                      <ul class="elementor-icon-list-items elementor-inline-items">
                        <li class="elementor-icon-list-item elementor-inline-item">
                          <a href="#">
                            <span class="elementor-icon-list-icon">
                              <i aria-hidden="true" class="fas fa-envelope"></i>
                            </span>
                            <span class="elementor-icon-list-text">
                              <span class="__cf_email__"
                                data-cfemail="23525646515a63454a4d424d4046500d404c4e">info@smeninternational.com</span>
                            </span>
                          </a>
                        </li>
                        <li class="elementor-icon-list-item elementor-inline-item">
                          <span class="elementor-icon-list-icon"><i aria-hidden="true"
                              class="fas fa-map-marker-alt"></i></span>
                          <span class="elementor-icon-list-text">Block 4C Akpasak Estate Uyo</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-616ece5"
                data-id="616ece5" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-0521b54 elementor-widget elementor-widget-elementskit-social-media"
                    data-id="0521b54" data-element_type="widget" data-settings='{"ekit_we_effect_on":"none"}'
                    data-widget_type="elementskit-social-media.default">
                    <div class="elementor-widget-container">
                      <div class="ekit-wid-con">
                        <ul class="ekit_social_media">
                          <li class="elementor-repeater-item-3957977">
                            <a href="#" aria-label="Facebook" class="f"><i class="fab fa-facebook"></i></a>
                          </li>
                          <li class="elementor-repeater-item-3043732">
                            <a href="#" aria-label="twitter" class="twitter"><i class="fab fa-twitter"></i></a>
                          </li>
                          <li class="elementor-repeater-item-1911973">
                            <a href="#" aria-label="instragram" class="instagram">
                              <i class="fab fa-instagram"></i></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
  <!-- TOP HEADER SECTION ENDS HERE  -->
  <section
    class="elementor-section elementor-top-section elementor-element elementor-element-03bb4de elementor-section-content-middle blo_full_width_mega_menu elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="03bb4de" data-element_type="section" data-settings='{"ekit_has_onepagescroll_dot":"yes"}'>
    <div class="elementor-container elementor-column-gap-default">
      <div
        class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-af3b66b"
        data-id="af3b66b" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-element-e6678e9 elementor-widget elementor-widget-image"
            data-id="e6678e9" data-element_type="widget" data-settings='{"ekit_we_effect_on":"none"}'
            data-widget_type="image.default">
            <div class="elementor-widget-container">
              <a href="/">
                <img style="width: 80px; height: 80px" src="../wp-content/uploads/2019/06/logo.png"
                  alt="SMENLOGO" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-9e6df7a"
        data-id="9e6df7a" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-element-f4def51 elementor-widget elementor-widget-ekit-nav-menu"
            data-id="f4def51" data-element_type="widget" data-settings='{"ekit_we_effect_on":"none"}'
            data-widget_type="ekit-nav-menu.default">
            <div class="elementor-widget-container">
              <div class="ekit-wid-con ekit_menu_responsive_tablet" data-hamburger-icon=""
                data-hamburger-icon-type="icon" data-responsive-breakpoint="1024">
                <button class="elementskit-menu-hamburger elementskit-menu-toggler" type="button"
                  aria-label="hamburger-icon">
                  <span class="elementskit-menu-hamburger-icon"></span>
                  <span class="elementskit-menu-hamburger-icon"></span>
                  <span class="elementskit-menu-hamburger-icon"></span>
                </button>
                <div id="ekit-megamenu-mega-menu"
                  class="elementskit-menu-container elementskit-menu-offcanvas-elements elementskit-navbar-nav-default ekit-nav-menu-one-page-no ekit-nav-dropdown-hover">
                  <ul id="menu-mega-menu"
                    class="elementskit-navbar-nav elementskit-menu-po-left submenu-click-on-icon">
                    <li id="menu-item-2030"
                      class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2030 nav-item elementskit-dropdown-has top_position elementskit-dropdown-menu-custom_width elementskit-megamenu-has elementskit-mobile-builder-content"
                      data-vertical-menu="1140">
                      <a href="/" class="ekit-menu-nav-link">Home</a>
                    </li>
                    <li id="menu-item-2032"
                      class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2032 nav-item elementskit-dropdown-has relative_position elementskit-dropdown-menu-default_width elementskit-mobile-builder-content"
                      data-vertical-menu="750px">
                      <a href="/about" class="ekit-menu-nav-link ekit-menu-dropdown-toggle">About</a>
                    </li>
                    <li id="menu-item-4053"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-4053 nav-item elementskit-dropdown-has relative_position elementskit-dropdown-menu-default_width elementskit-mobile-builder-content"
                      data-vertical-menu="750px">
                      <a href="#" class="ekit-menu-nav-link ekit-menu-dropdown-toggle">Services</a>
                    </li>
                    <li id="menu-item-4044"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-4044 nav-item elementskit-dropdown-has relative_position elementskit-dropdown-menu-default_width elementskit-mobile-builder-content"
                      data-vertical-menu="750px">
                      <a href="#" class="ekit-menu-nav-link ekit-menu-dropdown-toggle">Projects</a>
                    </li>
                    <li id="menu-item-4044"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-4044 nav-item elementskit-dropdown-has relative_position elementskit-dropdown-menu-default_width elementskit-mobile-builder-content"
                      data-vertical-menu="750px">
                      <a href="/contact" class="ekit-menu-nav-link ekit-menu-dropdown-toggle">Contact Us</a>
                    </li>
                  </ul>
                  <div class="elementskit-nav-identity-panel">
                    <div class="elementskit-site-title">
                      <a class="elementskit-nav-logo" href="/" target="_self" rel="">
                        <img loading="lazy" style="height: 100px; width: 70px"
                          src="../wp-content/uploads/2019/06/logo.png" class="attachment-full size-full" alt=""
                          decoding="async" />
                      </a>
                    </div>
                    <button class="elementskit-menu-close elementskit-menu-toggler" type="button">
                      X
                    </button>
                  </div>
                </div>
                <div
                  class="elementskit-menu-overlay elementskit-menu-offcanvas-elements elementskit-menu-toggler ekit-nav-menu--overlay">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-331d56b elementor-hidden-phone"
        data-id="331d56b" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-c506aa0 elementor-widget elementor-widget-elementskit-header-search"
            data-id="c506aa0" data-element_type="widget" data-settings='{"ekit_we_effect_on":"none"}'
            data-widget_type="elementskit-header-search.default">
            <div class="elementor-widget-container">
              <div class="ekit-wid-con">
                <a href="#ekit_modal-popup-c506aa0" class="ekit_navsearch-button ekit-modal-popup"
                  aria-label="navsearch-button">
                  <i class="fa-solid fa-search ic"></i>
                </a>
                <div class="zoom-anim-dialog mfp-hide ekit_modal-searchPanel" id="ekit_modal-popup-c506aa0">
                  <div class="ekit-search-panel">
                    <form role="search" method="get" class="ekit-search-group" action="#">
                      <input type="search" class="ekit_search-field" aria-label="search-form"
                        placeholder="Search..." value="" name="s" />
                      <button type="submit" class="ekit_search-button" aria-label="search-button">
                        <i class="icon icon-search2" title="Search" aria-hidden="true"></i>
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-48d7fb7 elementor-hidden-phone"
        data-id="48d7fb7" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-f4169ef ekit-off-canvas-position-right elementor-widget elementor-widget-elementskit-header-offcanvas"
            data-id="f4169ef" data-element_type="widget" data-settings='{"ekit_we_effect_on":"none"}'
            data-widget_type="elementskit-header-offcanvas.default">
            <div class="elementor-widget-container">
              <div class="ekit-wid-con">
                <div class="ekit-offcanvas-toggle-wraper before">
                  <a href="#" class="ekit_navSidebar-button ekit_offcanvas-sidebar" aria-label="offcanvas-menu">
                    <i class="fa-solid fa-arrow-up-right-dots ic"></i></a>
                </div>
                <!-- offset sidebar widget start -->
                <div class="ekit-sidebar-group info-group ekit-slide" data-settings='{"disable_bodyscroll":""}'>
                  <div class="ekit-overlay ekit-bg-black"></div>
                  <div class="ekit-sidebar-widget">
                    <div class="ekit_sidebar-widget-container">
                      <div class="ekit_widget-heading before">
                        <a href="#" class="ekit_close-side-widget" aria-label="close-icon">
                          <i aria-hidden="true" class="fas fa-times"></i>
                        </a>
                      </div>
                      <div class="ekit_sidebar-textwidget">
                        <div class="widgetarea_warper widgetarea_warper_editable"
                          data-elementskit-widgetarea-key="b4dda1d" data-elementskit-widgetarea-index="99">
                          <div class="widgetarea_warper_edit" data-elementskit-widgetarea-key="b4dda1d"
                            data-elementskit-widgetarea-index="99">
                            <i class="eicon-edit" aria-hidden="true"></i>
                            <span>Edit Content</span>
                          </div>

                          <div class="elementor-widget-container">
                            <div data-elementor-type="wp-post" data-elementor-id="1623"
                              class="elementor elementor-1623">
                              <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-1c4eab8 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                data-id="1c4eab8" data-element_type="section"
                                data-settings='{"ekit_has_onepagescroll_dot":"yes"}'>
                                <div class="elementor-container elementor-column-gap-default">
                                  <div
                                    class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-32f13fa"
                                    data-id="32f13fa" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                      <div
                                        class="elementor-element elementor-element-ac2f8f0 elementor-widget elementor-widget-image"
                                        data-id="ac2f8f0" data-element_type="widget"
                                        data-settings='{"ekit_we_effect_on":"none"}'
                                        data-widget_type="image.default">
                                        <div class="elementor-widget-container">
                                          <img style="
                                                width: 50%;
                                                height: 140px;
                                              " src="../wp-content/uploads/2019/06/logo.png"
                                            class="attachment-large size-large wp-image-717" alt="" />
                                        </div>
                                      </div>
                                      <div
                                        class="elementor-element elementor-element-2eb6576 elementor-widget elementor-widget-elementskit-heading"
                                        data-id="2eb6576" data-element_type="widget"
                                        data-settings='{"ekit_we_effect_on":"none"}'
                                        data-widget_type="elementskit-heading.default">
                                        <div class="elementor-widget-container">
                                          <div class="ekit-wid-con">
                                            <div
                                              class="ekit-heading elementskit-section-title-wraper text_left ekit_heading_tablet- ekit_heading_mobile-">
                                              <h2 class="ekit-heading--title elementskit-section-title">
                                                About Us
                                              </h2>
                                              <div class="ekit-heading__description">
                                                <p>
                                                  SMEN International
                                                  Company Limited is a
                                                  conglomerate with
                                                  interests in various
                                                  sectors established in
                                                  2021. It is set out to
                                                  be the leading Company
                                                  in the world serving in
                                                  different sectors
                                                </p>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div
                                        class="elementor-element elementor-element-4856ff9 elementor-widget elementor-widget-elementskit-button"
                                        data-id="4856ff9" data-element_type="widget"
                                        data-settings='{"ekit_we_effect_on":"none"}'
                                        data-widget_type="elementskit-button.default">
                                        <div class="elementor-widget-container">
                                          <div class="ekit-wid-con">
                                            <div class="ekit-btn-wraper">
                                              <a href="#" class="elementskit-btn whitespace--normal"
                                                id="">Consultation</a>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div
                                        class="elementor-element elementor-element-aeef2f9 elementor-widget elementor-widget-elementskit-heading"
                                        data-id="aeef2f9" data-element_type="widget"
                                        data-settings='{"ekit_we_effect_on":"none"}'
                                        data-widget_type="elementskit-heading.default">
                                        <div class="elementor-widget-container">
                                          <div class="ekit-wid-con">
                                            <div
                                              class="ekit-heading elementskit-section-title-wraper text_left ekit_heading_tablet- ekit_heading_mobile-">
                                              <h2 class="ekit-heading--title elementskit-section-title">
                                                Contact Info
                                              </h2>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div
                                        class="elementor-element elementor-element-a3b4488 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                                        data-id="a3b4488" data-element_type="widget"
                                        data-settings='{"ekit_we_effect_on":"none"}'
                                        data-widget_type="icon-list.default">
                                        <div class="elementor-widget-container">
                                          <ul class="elementor-icon-list-items">
                                            <li class="elementor-icon-list-item">
                                              <span class="elementor-icon-list-icon"><i
                                                  class="fa-solid fa-map-marker"></i></span>
                                              <span class="elementor-icon-list-text">Block 4C Akpasak Estate
                                                Uyo, NG</span>
                                            </li>
                                            <li class="elementor-icon-list-item">
                                              <a href="tel:+234(0) 811 6185299">
                                                <span class="elementor-icon-list-icon">
                                                  <i class="fa-solid fa-phone"></i>
                                                </span>
                                                <span class="elementor-icon-list-text">+234(0) 811
                                                  6185299</span>
                                              </a>
                                            </li>
                                            <li class="elementor-icon-list-item">
                                              <span class="elementor-icon-list-icon"><i
                                                  class="fa-solid fa-calendar-days"></i></span>
                                              <span class="elementor-icon-list-text">Week Days: 09.00 to 18.00
                                                Sunday: Closed</span>
                                            </li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END sidebar widget item -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-08bd696 elementor-hidden-phone"
        data-id="08bd696" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-fac14c0 ekit-equal-height-disable elementor-widget elementor-widget-elementskit-icon-box"
            data-id="fac14c0" data-element_type="widget" data-settings='{"ekit_we_effect_on":"none"}'
            data-widget_type="elementskit-icon-box.default">
            <div class="elementor-widget-container">
              <div class="ekit-wid-con">
                <div class="elementskit-infobox text- text-left icon-lef-right-aligin elementor-animation- media">
                  <div class="elementskit-box-header">
                    <div class="elementskit-info-box-icon text-center">
                      <img loading="lazy" width="34" height="34"
                        src="../wp-content/uploads/2019/06/call-home-two.png" class="attachment- size-" alt="" />
                    </div>
                  </div>
                  <div class="box-body">
                    <h3 class="elementskit-info-box-title">
                      Contact for support
                    </h3>
                    <p style="font-size: 14px; font-weight: bold">
                      +234(0) 811 6185299
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</div>
<!-- HEADER ENDS HERE  -->